.g-line {
	fill:none;
	stroke-width:2px;
	stroke: #ccc;
}

.g-line.Mexico {
	stroke:red;
	stroke-width:4px;
}

.domain {
    fill: none;
    stroke: black;
}

.tick line {
    stroke: black;
}

.tick {
    font-size: 10px;
}

.stylizing {
	font-size: 15px;
	font-color: black;
	
}

ul.comments {
	font-size: 16px;
	width: 700px;
	position: absolute;
	top: 250px;
	left: 160px;
}

.highlight {
	fill:none;
	stroke:red;
	stroke-width:1px;
}

ul.comments li {
	line-height: 1.5em;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}