body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.innovators {
  stroke: yellow;
  color: yellow;
  fill: #F5F5F5;
}

.highlight {
	fill:none;
	stroke:red;
	stroke-width:3px;
}

.highlight-label{
	fill:black;
	stroke:black;
	font-size: 15px;
}
